.container{
    li{
        list-style: none;
       
    }
    a{
        display: block;
        border: 2px solid #ffffff;
        padding: 10px;
        margin-bottom: 15px;
        text-decoration: none;
        color:black;
    }
}