.nav-bar{
    background-color: blueviolet;
    li{
        list-style: none;
        display: inline;
        margin-right: 1rem;
        margin-top: 10rem;
        a{
            color: white;
        }
    }

}